<a href="https://colab.research.google.com/github/esh04/Clickbait-Identification/blob/main/Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


# **WE PERFORM BINARY CLASSIFICATION BASED ON THE DATA AND PARAMETERS WE HAVE GENERATED AND PREDICT IN THE TEST DATASET**


---

# Importing the required libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
from xgboost import *

## Importing the parameters generated for prediction purposes

In [45]:
path = "/content/final_parameters.csv"
df = pd.read_csv(path)

# We can generate different classification metrics by temporarily removing columns which arent required
## We remove columns according to classes mentioned below:


1. Structural: is_que, num_tokens, is_exclam, is_quote, num_stopwords, has_num	
2. NER: PER_count, ORG_count, LOC_count, total_NER
3. POS: num_noun, num_verb, num_adj

In [46]:
df_temp = df
#df_temp.drop(['PER_count', 'ORG_count', 'LOC_count', 'total_NER'], inplace=True, axis=1)
#df_temp.drop(['num_noun', 'num_verb', 'num_adj'], inplace=True, axis=1)
#df_temp.drop(['is_que','num_tokens','is_exclam','is_quote','num_stopwords'], inplace=True, axis=1)

df_temp

                                                sentence  ...  num_adj
0      यह एक जबड़ा छोड़ने वाली डिलीवरी है! 50-टन व्हे...  ...        5
1      जस्टिन बीबर नई तस्वीरों की बाढ़ के साथ अपने इं...  ...        2
2      रॉल्फ हैरिस कुछ ही महीनों में मुक्त हो सकता है...  ...        3
3      बीएमसी चुनाव: बीजेपी, शिवसेना ने मतदाताओं को ग...  ...        1
4            चीनी पुलिस ने 100 किलोग्राम मेथ जब्त किया\n  ...        2
...                                                  ...  ...      ...
41795  ईएसपीएन ने &#39;स्पोर्ट्स बबल&#39; के लीडिंग ए...  ...        0
41796  जलते हुए आदमी की ये तस्वीरें आपको डब्ल्यूटीएफ ...  ...        0
41797  मस्तिष्क रक्त के थक्के के साथ अस्पताल में रूपा...  ...        1
41798                      सबसे बड़ी आसानी के साथ। । ।\n  ...        1
41799        द वीक के सबसे फेब और द्राब सेलिब्रिटी लुक\n  ...        2

[41800 rows x 15 columns]

In [47]:
X = df_temp.drop(['sentence','label'],axis=1)
y = df_temp['label']

## Splitting the training dataset into suitable ratio for training and verification(testing)

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

## Scaling the data appropriately to benefit the classification process

In [49]:
cols = X_train.columns

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])
X_train.describe()

             is_que    num_tokens  ...      num_verb       num_adj
count  3.344000e+04  3.344000e+04  ...  3.344000e+04  3.344000e+04
mean   3.556233e-16  2.339370e-16  ...  5.159350e-17 -1.365508e-15
std    1.000015e+00  1.000015e+00  ...  1.000015e+00  1.000015e+00
min   -2.429784e-01 -1.887161e+00  ... -1.173048e+00 -1.049352e+00
25%   -2.429784e-01 -5.395113e-01  ... -2.753086e-01 -1.049352e+00
50%   -2.429784e-01 -1.352163e-01  ... -2.753086e-01 -3.252279e-01
75%   -2.429784e-01  2.690786e-01  ...  6.224310e-01  3.988963e-01
max    3.222534e+01  3.786851e+01  ...  2.575914e+01  3.008799e+01

[8 rows x 13 columns]

# **USING SVM TO PERFORM BINARY CLASSIFICATION**

In [50]:
# instantiate classifier with default hyperparameters
svc=SVC()

svc=SVC(C=100.0) 


# fit classifier to training set
svc.fit(X_train,y_train)


# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with rbf kernel and C=100.0 : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))
print('Precision Score : %.4f '%precision_score(y_test,y_pred, average="macro"))
print('Recall Score : %.4f '%recall_score(y_test, y_pred, average="macro"))
print('F1 Score : %.4f '%f1_score(y_test, y_pred, average="macro"))

Model accuracy score with rbf kernel and C=100.0 : 0.6998
Precision Score : 0.7128
Recall Score : 0.6731
F1 Score : 0.6722

# **USING LOGISTIC REGRESSION TO PERFORM BINARY CLASSIFICATION**

In [51]:
log_res=LogisticRegression()
log_res.fit(X_train,y_train)

y_pred=log_res.predict(X_test)

print('Logistic Regression Accuracy Score : %.4f'%accuracy_score(y_test,y_pred))
print("Logistic Regression Precision Score : %.4f "%precision_score(y_test,y_pred))
print('Logistic Regression Recall Score : %.4f '%recall_score(y_test, y_pred, average="macro"))
print('Logistic Regression F1 Score : %.4f '%f1_score(y_test, y_pred, average="macro"))

Logistic Regression Accuracy Score : 0.6853
Logistic Regression Precision Score : 0.6781
Logistic Regression Recall Score : 0.6662
Logistic Regression F1 Score : 0.6674

# **USING XGBOOST TO PERFORM BINARY CLASSIFICATION**

In [52]:
xg_boost=XGBClassifier()
xg_boost.fit(X_train,y_train)

y_pred=xg_boost.predict(X_test)

print("XGBoost Accuracy Score: %.4f "%accuracy_score(y_test,y_pred))
print("XGBoost Precision Score: %.4f "%precision_score(y_test,y_pred))
print('XGBoost Recall Score : %.4f '%recall_score(y_test, y_pred, average="macro"))
print('XGBoost F1 Score : %.4f '%f1_score(y_test, y_pred, average="macro"))

XGBoost Accuracy Score: 0.6981
XGBoost Precision Score: 0.7152
XGBoost Recall Score : 0.6755
XGBoost F1 Score : 0.6762