<a href="https://colab.research.google.com/github/esh04/Clickbait-Identification/blob/Esh/Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---


# **WE PERFORM BINARY CLASSIFICATION BASED ON THE DATA AND PARAMETERS WE HAVE GENERATED AND PREDICT IN THE TEST DATASET**


---

## Importing the parameters generated for prediction purposes

In [1]:
import pandas as pd

path = "/content/final_parameters.csv"
df = pd.read_csv(path)
df.drop(['num_tokens','ORG_count','total_NER'], inplace=True, axis=1)
df

                                                sentence  ...  num_adj.1
0      यह एक जबड़ा छोड़ने वाली डिलीवरी है! 50-टन व्हे...  ...          5
1      जस्टिन बीबर नई तस्वीरों की बाढ़ के साथ अपने इं...  ...          2
2      रॉल्फ हैरिस कुछ ही महीनों में मुक्त हो सकता है...  ...          3
3      बीएमसी चुनाव: बीजेपी, शिवसेना ने मतदाताओं को ग...  ...          1
4            चीनी पुलिस ने 100 किलोग्राम मेथ जब्त किया\n  ...          2
...                                                  ...  ...        ...
41795  ईएसपीएन ने &#39;स्पोर्ट्स बबल&#39; के लीडिंग ए...  ...          0
41796  जलते हुए आदमी की ये तस्वीरें आपको डब्ल्यूटीएफ ...  ...          0
41797  मस्तिष्क रक्त के थक्के के साथ अस्पताल में रूपा...  ...          1
41798                      सबसे बड़ी आसानी के साथ। । ।\n  ...          1
41799        द वीक के सबसे फेब और द्राब सेलिब्रिटी लुक\n  ...          2

[41800 rows x 15 columns]

In [2]:
X = df.drop(['sentence','label'],axis=1)
y = df['label']

## Splitting the training dataset into suitable ratio for training and verification(testing)

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

## Scaling the data appropriately to benefit the classification process

In [4]:
cols = X_train.columns
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])
X_train.describe()

             is_que     is_exclam  ...    num_verb.1     num_adj.1
count  3.344000e+04  3.344000e+04  ...  3.344000e+04  3.344000e+04
mean  -8.618659e-15 -1.229756e-15  ...  1.026624e-16 -1.166166e-17
std    1.000015e+00  1.000015e+00  ...  1.000015e+00  1.000015e+00
min   -2.454927e-01 -1.349640e-01  ... -1.184523e+00 -1.056067e+00
25%   -2.454927e-01 -1.349640e-01  ... -2.772126e-01 -1.056067e+00
50%   -2.454927e-01 -1.349640e-01  ... -2.772126e-01 -3.277451e-01
75%   -2.454927e-01 -1.349640e-01  ...  6.300977e-01  4.005773e-01
max    3.199516e+01  3.002003e+01  ...  2.512747e+01  3.026179e+01

[8 rows x 13 columns]

# USING SVM TO PERFORM BINARY CLASSIFICATION

In [15]:
# instantiate classifier with rbf kernel and C=100
from sklearn.metrics import precision_score
from sklearn.svm import SVC


# import metrics to compute accuracy
from sklearn.metrics import accuracy_score


# instantiate classifier with default hyperparameters
svc=SVC()

svc=SVC(C=100.0) 


# fit classifier to training set
svc.fit(X_train,y_train)


# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with rbf kernel and C=100.0 : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))
print('Precision Score : %.4f '%precision_score(y_test,y_pred))

Model accuracy score with rbf kernel and C=100.0 : 0.6874
Precision Score :  0.720425343376163

# USING LOGISTIC REGRESSION TO PERFORM BINARY CLASSIFICATION

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


log_res=LogisticRegression()
log_res.fit(X_train,y_train)

y_pred=log_res.predict(X_test)

print('Logistic Regression Accuracy Score : %.4f'%accuracy_score(y_test,y_pred))
print("Logistic Regression Precision Score : %.4f "%precision_score(y_test,y_pred))

Logistic Regression Accuracy Score : 0.6736
Logistic Regression Precision Score : 0.6608

# USING XGBOOST TO PERFORM BINARY CLASSIFICATION

In [18]:
from xgboost import *
xg_boost=XGBClassifier()
xg_boost.fit(X_train,y_train)

y_pred=xg_boost.predict(X_test)

print("XGBoost Accuracy Score: %.4f "%accuracy_score(y_test,y_pred))
print("Precision Score: %.4f "%precision_score(y_test,y_pred))

XGBoost Accuracy Score: 0.6890
Precision Score: 0.6975